*{font-size:1em;line-height:1em;text-decoration:none;margin:0;padding:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-weight:normal}ol,ul,li{list-style-type:none}table{border-collapse:collapse}
body {
	font: 0 arial;
	background: #000;
	user-select: none;
}
.go {
	font: 2rem monospace;
	background: #000;
	color: salmon;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 75;
}
main {
	width: 100vw;
	height: 100vh;
	opacity: 1;
	overflow: hidden;
	transition: opacity 15s ease-in-out;
	position: fixed;
	top: 0;
	left: 0;
}
main:before,
main:after {
	content: "";
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: box-shadow 5s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}
main:before {
	box-shadow: inset 0 0 10rem black;
}
main:after {
	box-shadow: inset 0 0 20rem teal;
	mix-blend-mode: overlay;
}
.danger:after {
	box-shadow: inset 0 0 60rem red
}
.time {
	font-size: 2rem;
	background: url(metal.jpg) top center no-repeat #ccc;
	background-size: cover;
	padding: 1em 0.5em 1.5em;
	box-shadow: 0 0 3em #000;
	transform: translate(-50%, 0);
	position: absolute;
	top: 10%;
	left: 50%;
	z-index: 10;
}
.countdown {
	font-size: 2em;
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 0.25em;
}
.countdown .m,
.countdown .s {
	box-shadow: inset 0 0 2em #000;
	padding: 0.15em;
	display: grid;
	grid-column-gap: 0.05em;
}
.countdown .m {
	grid-template-columns: 1fr 1fr 1fr
}
.countdown .s {
	grid-template-columns: 1fr 1fr;
}
.countdown span {
	font-weight: bold;
	text-align: center;
	width: 0.75em;
	overflow: hidden;
	position: relative;
}
.countdown span:before {
	content: "";
	background: rgba(127, 127, 127, 0.25);
	width: 100%;
	height: 0.025em;
	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	left: 0;
}
.m span {
	background: #333;
	color: #eee;
}
.s span {
	background: #eee;
	color: #333;
}
.m .black{
	background: black;
	color: red;
}
.s .red{
	background: red;
	color: black;
}
.computer {
	font-size: 2rem;
	transform: translate(-50%, 0);
	perspective: 1000px;
	position: absolute;
	bottom: 10%;
	left: 50%;
	z-index: 25;
}
.monitor,
.keyboard {
	background: #928b7e;
	padding: 1em 0.75em;
	border-radius: 0.25em;
	position: relative;
	overflow: hidden;
}
.keyboard {
	transform: rotateX(65deg) scale(1.09);
	border-bottom: 3rem solid #797369;
	margin-top: -5rem;
}
.monitor:before,
.keyboard:before {
	content: "";
	background: url(plastic.jpg) top center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	mix-blend-mode: color-burn;
	opacity: 0.1;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
}
.bezel {
	background: #444;
	border: 0 solid #444;
	border-width: 0.5em 4.5em 0.5em 0.5em;
	border-radius: 0.25em;
	position: relative;
}
.recession {
	background: #333;
	padding: 1em;
	border-radius: 0.25em;
	position: relative;
}
.recession:before {
	content: "";
	width: 12em;
	height: 9.5em;
	box-shadow: inset 0 0 8em #222;
	border-radius: 0.25em;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
}
.switch {
	width: 3.5em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content;
	grid-column-gap: 0.25em;
	grid-row-gap: 0.25em;
	position: absolute;
	right: 1.5em;
	bottom: 1.5em;
}
.dharma {
	background: #aaa;
	width: 100%;
	height: 1.25em;
	grid-area: 1 / 1 / 2 / 3;
}
.switch .left,
.switch .right {
	background: #333;
	height: 3em;
}
.screen {
	background: #111;
	width: 10em;
	height: 7.5em;
	padding: 1em;
	border-radius: 0.5em;
	box-shadow: inset 0 0 4rem #000;
	overflow: hidden;
	position: relative;
	z-index: 10;
}
.screen:before{
	content:"";
	background:repeating-linear-gradient(#0000002a, #0000002a 1px, transparent 1px, transparent 2px);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:125;
}
.line {
	width: 100%;
	display: grid;
	grid-template-columns: min-content auto;
}
.screen .span,
.screen .input {
	font: 1rem/1em monospace;
	text-shadow: 0 0 0.1em;
	color: #36FF99;
}
.screen .input {
	background: none;
	height: 11em;
	border: none;
	outline: none;
	resize: none;
	overflow: hidden;
}
.screen iframe{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index:100;
}
.desktop .screen iframe{pointer-events:none}
.keyboard {
	box-shadow: 0 0 2em rgba(0, 0, 0, 0.5);
}
.keyboard span {
	background: #333;
	height: 1em;
	display: block;
	position: relative;
}
.keyboard .one {
	margin: 0.1em 0 0.1em 0.5em;
}
.keyboard .three,
.keyboard .four {
	margin: 0.1em 0.5em;
}
.keyboard .four {
	text-align: right
}
.keyboard .five {
	margin: 0.1em 4em;
}
.keyboard .i {
	background: #eee;
	width: 2rem;
	height: 100%;
	margin: 0.2rem 0 0;
	display: inline-block;
	cursor:pointer;
	position: absolute;
	top: 100%;
	left: 0;
}
.keyboard .i:hover{background: #ddd}
.button {
	font: 0 monospace;
	background: salmon;
	width: 3rem;
	height: 100%;
	border: 0 solid #928b7e;
	border-width: 0 0 0 0.2rem;
	outline: none;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
.button:hover {
	background: #b5574c
}
.bg {
	font-size: 1rem;
	background: url(bg.jpg) center center no-repeat;
	background-size: cover;
	width: 125%;
	height: 125%;
	margin: 0;
	transform: translate(-50%, -50%);
	transition: filter 0.5s ease, margin 0.5s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
}
.silence,
.silenced {
	font-size: 4rem;
	padding: 1em;
	position: fixed;
	cursor: pointer;
	opacity: 0.25;
	bottom: 0;
	left: 0;
	z-index: 50;
}
.silence:after {
	content: "\01F508";
}
.silenced:after {
	content: "\01F507";
}
@media (orientation: landscape) {
	html {
		font-size: 1.5vh;
	}
	.bg {
		filter: blur(1vw);
	}
}
@media (orientation: portrait) {
	html {
		font-size: 1.5vw;
	}
	.bg {
		filter: blur(1vh);
	}
}
